.card {
    background-color: var(--white);
    border-radius: var(--border-radius-large);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    padding: var(--padding-large);
    min-width: 320px;
}

.card__size--sm {
    width: 35%;
}


.card__size--md {
    width: 40%;
}


.card__size--lg {
    width: 60%;
}